 Bordered form 
form {
    border: 3px solid #f1f1f1;
}
.row{
    margin-left: 33%;
    margin-top: 8%;
  
}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin-left: 15%;
    width: 20%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */


/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 8px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


.btn{
    margin-left: 30%;
}

.nav{
    margin-top:167px;
    width:1024px;
    height:34px;
}
.container-fluid{
    background-image: -webkit-image-set();
}
/* Centers the div that nests the nav_buttons */
.centerButtons {
    margin:  auto;
    float: left;
} 

.nav_button{
    height:34px;
    margin-right:10px;
    float: left;
}
.wrapper{
    text-align: absolute;
    top:50%;
    align-self: center;
}
.form-actions {
    margin: 3%;
    background-color: transparent;
    text-align: center;
    width: 170%;
}

