<form class="form-group">
    <div class="row">
        <h2>List Of Employee</h2>

        <md-card *ngFor="let article of	articles;let i=index">
            <h3> <a role="button" (click)="returnToArticle(article._id)">{{i+1}}.{{article.title}}</a></h3>

            <h3>{{article.content}}</h3><p> {{article.rating}}</p> <b>{{article.created}} / {{article.creator.fullName}}</b>
        </md-card>
    </div>
</form>
<div *ngIf="articles && articles.length===0">No articles yet, why don't you <a [routerLink]="['/articles/create']">create one</a>?</div>