<div *ngIf="!user">
    <md-card class="col-sm-2">

        <h4>Do you have an account ??<i class="fa fa-user-o fa-2x" aria-hidden="true"></i><br> Create One</h4>
        <i class="fa fa-hand-o-right fa-2x" aria-hidden="true"></i>
        <button type="submit" class="btn btn-primary btn-lg" [routerLink]="['/authentication/signup']">Signup</button>
          <button type="submit" class="btn btn-primary btn-lg" [routerLink]="['/authentication/signin']">Signin</button>

    </md-card>
</div>
<form class="container">
<div *ngIf="user">
    <md-card class="row col-sm-4">
        <form (ngSubmit)="signout()" novalidate>

            <h1>Hello {{user.firstName}}</h1>
              <p><a [routerLink]="['/articles']">List Employees</a></p>
            <p><a [routerLink]="['/articles/create']">Interview</a></p>
             <button type="submit" class="btn btn-primary btn-lg">Signout</button>
        </form>
    </md-card>
</div>
</form>

<router-outlet></router-outlet>