
items{
    font-size:29px;
}
button{
margin-left: 0%;
margin-top: 0%;
}
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

p{
    font-size: 24px;
    font-style: normal;
}
.row{
    background-color:lightskyblue;
    margin: 20%;
}
h2{
    color:black;
    font-family: bold;
    font-synthesis: style;
}
md-card{
    margin-top: 15%;
    /*margin: 60px;*/
    margin-left:35%
    }
    .btn {
    margin-top: 0%;
    margin-left: 40px;
}
.fa{
    margin-left: 5%;
}
.btn{
    margin-left:10px;
}