
p{
    clear: both;
 
    overflow: hidden;
    white-space: nowrap;
    
    -webkit-text-fill-color: black;
    text-align: center;
    font-size: 250%;
}
h1{
    text-align: left;
    font-size: 250%;
    font-style:normal;
    -webkit-text-fill-color:black;

}
.img-responsive{
 max-width: 50%;
  height:25%;
  display:initial;
  }
h3{
    margin-right: 50%;
    overflow: initial;
    white-space: nowrap;
     text-align:left;
    font-size:120%;
    table-layout: border fixed border-style black;
}
h2{
text-align: left;
font-size: 20px;
font-style:normal;
color:black;}

.navbar-inverse{

background-color:white-space=azure border=5% border-style color;
}
body { padding-top: 50px; }

.container-fluid{
    background-image: -webkit-image-set();
}
/* Centers the div that nests the nav_buttons */
.centerButtons {
    margin:  auto;
    float: left;
} 

.nav_button{
    height:34px;
    margin-right:10px;
    float: left;
    color: lightgreen;
}
.wrapper{
    text-align: absolute;
    top:50%;
    align-self: center;
}
.form-actions {
    margin: 3%;
    background-color: transparent;
    text-align: center;
    width: 170%;
}
.example-card {
  width: 350px;
  margin-left: 1%;
  margin-top: 3%;
  color:blue;
  font-size: 15px;
  background-color: black;
}

.example-header-image {
 
  background-size: cover;
  width:50%;
  height: 40%;
}
parag{
text-align: left;
margin-top: 10%;
}
container{
    margin-top:5%;
    margin-top: 3%;
}