<nav class="navbar navbar-inverse bg-inverse">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-inverse">
            <li class="nav-item active col-sm-4">
                <h2> <a class="nav-link" routerLink="/Home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a></h2>
            </li>
            <li class="nav-item col-sm-4">
                <h2> <a class="nav-link" routerLink="/Account" routerLinkActive="active">Account</a></h2>
            </li>
            <li class="nav-item col-sm-4">
                <h2> <a class="nav-link" routerLink=" " href="http://positronic.ai/#/" routerLinkActive="active">Contact US</a></h2>
            </li>
        </ul>
    </div>
</nav>


<router-outlet></router-outlet>